@font-face {
  font-family: Poppins;
  src: url(./asset/font/Poppins-Medium.otf);
  font-weight: normal;
}

* {
  margin: 0;
  font-family: Poppins;
}

/* HEADER */
/* header {
  background-color: #064635;
  color: #f0bb62;
  padding: 30px 0;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 0 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: x-large;
}

a {
  color: #f4eea9;
  text-decoration: none;
} */

footer {
  background-color: #064635;
  color: #f0bb62;
  padding: 30px 0;
  text-align: center;
}


/* SLIDER */
.slides{
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

.slideshow-container{
  padding: 40px 0px;
  text-align: center;
  position: relative;
  margin: 30px;
  object-fit: cover;
}

.img-slides{
  width: 800px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.title{
  padding-left: 50px;
}

.recommendation-container{
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

/* .recommendation{
  width: 400px;

}

.img-recommendation{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5%;
} */

.video-container{
  display: flex;
  justify-content: center;

}

.promotion-video{
  width: 600px;
  display: flex;
  border-radius: 10px;

}

.category-container{
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.img-category{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5%;
  border: solid rgb(137, 137, 137) 1px;
  box-shadow: rgba(144, 132, 132, 0.436) 3px 3px 3px 3px;
}

.category-txt{
  text-align: center;
}

.container-form-order{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#container-choose-menu , #container-menu-food, #container-menu-drink, #container-menu-dessert{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#err-choose-menu, #err-order-food{
  margin: 30px;
}

.card{
  margin: 20px;
}

.container-form-reservation{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


.team-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.our-story-container{
  width: 500px;

}

.our-goal-container{
  text-align: justify;
  width: 500px;
}

.about-us-content{
  padding: 50px;
}

.upper-description-container{
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  padding: 30px 0px;
}

.about-us-title{
  text-align: center;
}

.map-container{
  display: flex;
  justify-content: center;
}

.map-img{
  width: 500px;
  border-radius: 10px;
}

.description{
  text-align: center;
  margin-top: 10px;
}

.contact-container{
  display: flex;
  justify-content: space-evenly;
}

.contact-us-title{
  padding-left: 30px;
}

.our-contact-container, .our-location-container{
  padding: 50px 0;
}

.phone-img{
  width: 20px;
}

.email-img{
  width: 35px;
}

.contact{
  display: flex;
  align-items: center;

}

.contact-txt{
  margin: 0;

}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container{
  /* text-align: center; */
  width: 700px;
}

#tab-menu{
  justify-content: center;
}